*.o
moc_*
ui_*
Makefile
engrid
netgen_svn
qrc_*
tmp.txt
*~
*.kdevelop.pcs
*.kdevses
.bzr
.hg
*.user
qtc-gdbmacros
*.sp
engrid.kdevelop.ignore_pcs
*.vtu
*.out
*.orig
*.tar.gz
*.vtu
*.txt
*.bcs
netgen_svn_old
callgrind*
