# variables to set for use by engrid_installer_updater.sh
# This configuration file is sourced by engrid_installer_updater.sh
# You can therefore use bash syntax in it.

#################################################
# Download links and archive names
# modify this to change the dependency versions
#################################################
# Set the DOWNLOAD_* variables to 0 if you wish to use already downloaded tarballs instead of redownloading them

DOWNLOAD_QT=1
ARCHIVE_QT="qt-x11-opensource-src-4.5.2.tar.gz"
URL_QT="http://get.qt.nokia.com/qt/source/$ARCHIVE_QT"

DOWNLOAD_VTK=1
ARCHIVE_VTK="vtk-5.4.2.tar.gz"
URL_VTK="http://www.vtk.org/files/release/5.4/$ARCHIVE_VTK"
VTKVERSION="5.4"

DOWNLOAD_CGNS=1
ARCHIVE_CGNS="cgnslib_2.5-4.tar.gz"
URL_CGNS="http://prdownloads.sourceforge.net/cgns/$ARCHIVE_CGNS"

#################
# git clone URLs
#################
#HTTP
# URL_ENGRID="http://engits.com/git/engrid.git"
#SSH
# URL_ENGRID="ssh://swordfish/srv/www/htdocs/git/engrid.git"
#GIT
URL_ENGRID="git://78.140.120.226/git/engrid.git"

##################################
# Installation prefix definition
##################################
# PREFIX="$(readlink -f .)/opt/engits"
PREFIX=/opt/engits

# VTK installation directory
VTKPREFIX=$PREFIX/VTK

# QT installation directory
QTPREFIX=$PREFIX/QT

# CGNS installation directory
CGNSPREFIX=$PREFIX/CGNS

# Location of the engrid source code checkout
SRCPREFIX=$PREFIX/src

# Installation directory for the engrid startup and environment setup scripts
BINPREFIX=$PREFIX/bin

# Name of the startup script
START_ENGRID=start_engrid

# Name of the environment script
# Once generated, you can add it to your ~/.bashrc with:
# source ENV_SETUP
ENV_SETUP=engrid_environment.sh

##################################
# branch selection
##################################
# The remote branch you wish to use (master is the main development branch)
#BRANCH=openfoamgui
BRANCH=release_1.1

##################################
# build options
##################################
# set this to "engrid.pro.cgns" if you want CGNS support
PROJECT_FILE=engrid.pro
# PROJECT_FILE=engrid.pro.cgns

MAKEOPTIONS=release
# MAKEOPTIONS=debug

##################################
# Currently unused variables
##################################
# VTK_WRAP_JAVA
# VTK_WRAP_PYTHON
# VTK_WRAP_TCL
