Source: engrid
Section: science
Priority: extra
Maintainer: Bruno Santos <bruno.santos@bluecape.com.pt>
Build-Depends: debhelper (>= 7), cdbs, libqt4-dev, libqt4-opengl-dev, libvtk5-dev (>=5.4.2), libvtk5-qt4-dev (>=5.4.2), libnglib-dev
Standards-Version: 3.8.4
Homepage: http://engits.eu

Package: engrid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: engrid-blenderscripts
Description: open-source mesh generation
 ENGRID is an open-source mesh generation software with CFD applications in
 mind. ENGRID uses the NETGEN library for tetrahedral grid generation and an
 in-house development for prismatic boundary layer grids. Internally, ENGRID
 uses the VTK data structures as well as the *.vtu file format. To create
 grids for OPENFOAM® (OPENFOAM® is a registered trade mark of OpenCFD Limited),
 the GMSH format can be used. GMSH is also an excellent open-source tool to
 create surface triangulations for ENGRID.
 ENGRID is released under the GPL and we hope that it is a useful addition to
 the open-source CFD community. So far the implemented algorithm proved to be
 quite robust and it does not require much user interaction.
 The development of ENGRID has been funded by the European Space Agency

Package: engrid-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: engrid
Description: Documentation and Tutorials for enGrid
 ENGRID is an open-source mesh generation software with CFD applications in
 mind. ENGRID uses the NETGEN library for tetrahedral grid generation and an
 in-house development for prismatic boundary layer grids. Internally, ENGRID
 uses the VTK data structures as well as the *.vtu file format. To create
 grids for OPENFOAM® (OPENFOAM® is a registered trade mark of OpenCFD Limited),
 the GMSH format can be used. GMSH is also an excellent open-source tool to
 create surface triangulations for ENGRID.
 ENGRID is released under the GPL and we hope that it is a useful addition to
 the open-source CFD community. So far the implemented algorithm proved to be
 quite robust and it does not require much user interaction.
 The development of ENGRID has been funded by the European Space Agency
 .
 This package contains the documentation and tutorials.

Package: engrid-blenderscripts
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, blender
Suggests: engrid
Description: Blender scripts for enGrid
 ENGRID is an open-source mesh generation software with CFD applications in
 mind. ENGRID uses the NETGEN library for tetrahedral grid generation and an
 in-house development for prismatic boundary layer grids. Internally, ENGRID
 uses the VTK data structures as well as the *.vtu file format. To create
 grids for OPENFOAM® (OPENFOAM® is a registered trade mark of OpenCFD Limited),
 the GMSH format can be used. GMSH is also an excellent open-source tool to
 create surface triangulations for ENGRID.
 ENGRID is released under the GPL and we hope that it is a useful addition to
 the open-source CFD community. So far the implemented algorithm proved to be
 quite robust and it does not require much user interaction.
 The development of ENGRID has been funded by the European Space Agency
 .
 This package contains various Blender scripts for use with enGrid.
