[Desktop Entry]
Name=enGrid
Exec=/usr/bin/engrid
Icon=/usr/share/pixmaps/engrid.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
