#!/usr/bin/make -f 
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Add here any variable or target overrides you need.
QMAKE=qmake-qt4 -recursive
CFLAGS=-O3
CXXFLAGS=-O3
DEB_BUILDDIR=src
DEB_QMAKE_CONFIG_VAL=debian

include /etc/lsb-release

ifeq "$(DISTRIB_RELEASE)" "12.04"
export VTKINCDIR=/usr/include/vtk-5.8/
export VTKLIBDIR=/usr/lib
endif

ifeq "$(DISTRIB_RELEASE)" "12.10"
export VTKINCDIR=/usr/include/vtk-5.8/
export VTKLIBDIR=/usr/lib
endif

ifeq "$(DISTRIB_RELEASE)" "13.04"
export VTKINCDIR=/usr/include/vtk-5.8/
export VTKLIBDIR=/usr/lib
endif

ifeq "$(DISTRIB_RELEASE)" "13.10"
export VTKINCDIR=/usr/include/vtk-5.8/
export VTKLIBDIR=/usr/lib
endif

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk
