Source: engrid
Section: unknown
Priority: extra
Maintainer: Mike Taverne <mtaverne@engits.com>
Build-Depends: debhelper (>= 5), cdbs, libqt4-dev, libvtk5-dev, libvtk5-qt4-dev
Standards-Version: 3.7.2
Homepage: <insert the upstream URL, if relevant>

Package: engrid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: enGrid - open-source mesh generation
 ENGRID is an open-source mesh generation software with CFD applications in mind. ENGRID uses the NETGEN library for tetrahedral grid generation and an in-house development for prismatic boundary layer grids. Internally, ENGRID uses the VTK data structures as well as the *.vtu file format. To create grids for OPENFOAM® (OPENFOAM® is a registered trade mark of OpenCFD Limited), the GMSH format can be used. GMSH is also an excellent open-source tool to create surface triangulations for ENGRID. It is planned to provide native OPENFOAM support, hopefully in the 1.0 release (before the end of 2008). For future releases, export capabilities for complete OPENFOAM cases (including boundary conditions) and support for polyhedral cells are planned as well.
 ENGRID is released under the GPL and we hope that it is a useful addition to the open-source CFD community. So far the implemented algorithm proved to be quite robust and it does not require much user interaction.
 The development of ENGRID has been funded by the European Space Agency
