#include "..\engrid_version.h"

#define IDR_VERSION 1
IDI_ICON1 ICON DISCARDABLE "icons\g.ico"
IDR_VERSION VERSIONINFO
FILEVERSION ENGRIDVERSIONFULLVER
PRODUCTVERSION ENGRIDVERSIONFULLVER
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", ENGRID_VERSION
      VALUE "ProductVersion", ENGRID_VERSION
      VALUE "CompanyName", COMPANYNAME
      VALUE "FileDescription", ENGRIDDESCRIPTION
      VALUE "InternalName", "ENGRID\0"
      VALUE "LegalCopyright", ENGRIDCOPYRIGHT
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

