#include "..\engrid_version.h"

#define IDR_VERSION 1
IDI_ICON1 ICON DISCARDABLE "icons\g.ico"
IDR_VERSION VERSIONINFO
FILEVERSION ENGRID_VERSION_FULLVER
PRODUCTVERSION ENGRID_VERSION_FULLVER
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", ENGRID_VERSION
      VALUE "ProductVersion", ENGRID_VERSION
      VALUE "ProductName", ENGRID_NAME
      VALUE "CompanyName", ENGRID_COMPANY_NAME
      VALUE "FileDescription", ENGRID_DESCRIPTION
      VALUE "InternalName", ENGRID_NAME
      VALUE "LegalCopyright", ENGRID_COPYRIGHT
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

